*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
}

header{
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(89, 131, 83, 0.09);
     backdrop-filter: blur( 2px );
     height: 4rem;
     padding: 1rem 0.5rem;
     border-radius: 12px;
}
header ul li{
    list-style: none; 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 1.5rem;
}
header ul li a{
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-size: 21px;
    color:grey;
    letter-spacing: 1px;
    font-weight: 530;
    transition: ease-in-out 400ms;

}
main{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 2rem 2rem;
}
.landingPageSpark{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}
.landingPageSpark h1{
 font-size: 3rem;
 text-align: center;
}